circle{
    fill-opacity: .9;
}
line{
    stroke:#363030;
    stroke-opacity:0.6;
}
.label{
    font-size: x-small;
    font-family: sans-serif;
}
.inactive{
    opacity: .1;
}
.tooltip {
    font-size: 15px;
    color: black;
}

#author-tooltip {
    position: absolute;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    visibility: hidden;
    opacity: 0.9;
}